<div class="container-wrap">
    <div class="back" (click)="goBack()"><i nz-icon nzType="left" nzTheme="outline"></i>返回</div>
    <div class="content">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Card title">
              <p>Card content</p>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Card title">
              <p>Card content</p>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="Card title">
              <p>Card content</p>
            </nz-card>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8">
              <nz-card nzTitle="Card title">
                <p>Card content</p>
              </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-card nzTitle="Card title">
                <p>Card content</p>
              </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-card nzTitle="Card title">
                <p>Card content</p>
              </nz-card>
            </div>
          </div>
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="8">
              <nz-card nzTitle="Card title">
                <p>Card content</p>
              </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-card nzTitle="Card title">
                <p>Card content</p>
              </nz-card>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-card nzTitle="Card title">
                <p>Card content</p>
              </nz-card>
            </div>
          </div>
      </div>
</div>

