<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.telchina.hdcgioc.welcome.mapper.WelcomeMapper">

<!--    <update id="saveData">-->
<!--        <![CDATA[-->
<!--			update hdioc.welcome  set chinese = #{chinese},engish = #{engish},imgsave = #{imgsave},imgnum = #{imgnum}-->
<!--        ]]>-->

<!--    </update>-->
<!--    -->
<!--    <select id="readingData" resultType="com.telchina.hdcgioc.welcome.entity.WelcomeData">-->
<!--        <![CDATA[-->
<!--			SELECT * FROM hdioc.welcome-->
<!--        ]]>-->

<!--    </select>-->
    <select id="get_penalty_class" resultType="java.lang.String">
        <![CDATA[
			SELECT distinct penalty_class FROM penalty_map
        ]]>

    </select>
    <select id="get_edu" resultType="java.lang.String">
        <![CDATA[
			SELECT distinct person_edu from wenshu_info
        ]]>

    </select>
    <select id="get_prision_type" resultType="java.lang.String">
        <![CDATA[
			select  distinct penalty_prison_type from wenshu_info
        ]]>

    </select>
    <select id="get_penalty_definite" resultType="java.lang.String">
        <![CDATA[
			SELECT distinct penalty_name_definite FROM penalty_map WHERE penalty_class = #{penalty_class}
        ]]>

    </select>
    <select id="get_definite_num" resultType="int">
        <![CDATA[
			SELECT count(*) FROM wenshu_info WHERE penalty_name = #{penalty_definite}
        ]]>

    </select>
    <select id="get_wenshu_ByDefinite" resultType="com.telchina.hdcgioc.welcome.entity.wenshu_info">
         <![CDATA[
			SELECT * FROM wenshu_info WHERE penalty_name = #{penalty_definite} ORDER BY id limit #{page_start},#{page_size}
        ]]>
    </select>
    <select id="get_class_num" resultType="int">
    <![CDATA[
			SELECT number FROM penalty_class_num WHERE penalty_class = #{penalty_class}
        ]]>
    </select>

<!--    <select id="get_wenshu_filter" resultType="com.telchina.hdcgioc.welcome.entity.wenshu_info">-->
<!--         <![CDATA[-->
<!--			select distinct wenshu_info.* from wenshu_info right join penalty_map on wenshu_info.penalty_name = penalty_map.penalty_name_definite where penalty_map.penalty_class = #{penalty_class}-->

<!--			 LIMIT #{page_start},#{page_size}-->
<!--        ]]>-->
<!--    </select>-->


  
</mapper>